<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static '/main/assets/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}">
    <title>Jankuruma</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{%url 'dashboard' %}">
            <img src="/static/images/logo.png" width="100" height="100" class="d-inline-block align-top" alt=""
                loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'dashboard' %}">Home</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'about' %}">About</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vroom/message_board/">Message Board</a>
                  </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Members Area</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'user_profile' user.id %}">My Profile</a>
                <a class="dropdown-item" href="#">Media(under construction)</a>
                <a class="dropdown-item" href="#">Shop(under construction)</a>
                <a class="dropdown-item" href="#">Extra(under construction)</a>
            </div>
        </li>
    </div>
    {% for message in messages %}
        {% if 'success' in message.extra_tags %}
        <div id="welcome" class="alert alert-success" role="alert">{{ message }}</div>
        {% endif %}
        {% endfor %}
    <span id="user">  Welcome {{ user.username }}! <a class="btn btn-outline-success" href="/logout">Log out</a></span>
</nav>
<div id="banner">
    <div class="container">
        <div class="row">
            <div class="col-6 col-12-medium">

                    <h2>Featured Chassis</h2>
                    <p>The MR2 derived from a 1976 Toyota design project with the goal of a car which would be enjoyable to drive, yet still provide good fuel economy – not necessarily a sports car.</p>
                    <a href="#" class="button-large">Read Story!</a>

            </div>
            <div class="col-6 col-12-medium imp-medium">

                <!-- Banner Image -->
                    <a href="#" class="bordered-feature-image"><img src="/static/images/mr2s.jpg" alt="" /></a>

            </div>
        </div>
    </div>
</div>
</section>

<!-- Features -->
<section id="features">
<div class="container">
    <div class="row">
        <div class="col-3 col-6-medium col-12-small">

            <!-- Feature #1 -->
                <section>
                    <a href="#" class="bordered-feature-image"><img src="/static/images/s13.jpg" /></a>
                    <h2>Nissan</h2>
                    <p>
                        An automobile company reintorduced into the wild after Renault began supplying funds. Nissan has proven that it is possible to build the most exciting, stylish, fast and affordable cars within record time.
                    </p>
                </section>

        </div>
        <div class="col-3 col-6-medium col-12-small">

            <!-- Feature #2 -->
                <section>
                    <a href="#" class="bordered-feature-image"><img src="/static/images/celica.jpg" alt="" /></a>
                    <h2>Toyota</h2>
                    <p>
                        A giant of the automobile industry. Known for producing cars that will most likely survive the apocalypse. Parent company of lexus and scion. Once known for producing sporty and relatively inexpensive cars like the celica, celica Supra, MR2, Supra, and Sport 800, Nowadays, they are tacky, bland, and uninspiring wads of dollar-store plastic lined with tinfoil
                    </p>
                </section>

        </div>
        <div class="col-3 col-6-medium col-12-small">

            <!-- Feature #3 -->
                <section>
                    <a href="#" class="bordered-feature-image"><img src="/static/images/rx7.jpg" alt="" /></a>
                    <h2>Mazda</h2>
                    <p>
                        A Japenese car company that is well known for their rotary cars. With only 3 major moving parts in a rotary engine, and less friction than a reciprocating motor they can rev up to 12,000rpm with a bridgeport. It is the replacement for displacement.
                    </p>
                </section>

        </div>
        <div class="col-3 col-6-medium col-12-small">

            <!-- Feature #4 -->
                <section>
                    <a href="#" class="bordered-feature-image"><img src="/static/images/civic.jpg" alt="" /></a>
                    <h2>Honda</h2>
                    <p>Japanese automaker that makes very reliable and affordable daily drivers, family cars, and econo-boxes. Commonly mistaken by domestic owners to be the pinnacle of Japanese performance engineering, and therefore is used as "proof" that American cars are somehow superior to imports.
                    </p>
                </section>

        </div>
    </div>
</div>
</section>

<!-- Content -->
<section id="content">
<div class="container">
    <div class="row aln-center">
        <div class="col-4 col-12-medium">

            <!-- Box #1 -->
                <section>
                    <header>
                        <h2>Who We Are</h2>
                        <h3>Starting a new project?</h3>
                    </header>
                    <a href="#" class="feature-image"><img src="images/pic05.jpg" alt="" /></a>
                    <p>
                        <img src="/static/images/angry mechanic.jpg" alt="angry_guy"><br>

                        If you need help finding that next project, or if you are new to working on your own vehicle. Our community is the perfect place for you to gather information and get pointed in the right direction. 
                    </p>
                </section>

        </div>
        <div class="col-4 col-6-medium col-12-small">

            <!-- Box #2 -->
            <section>
                <header>
                    <h2>Car Styles?</h2>
                    <h3>Why yes....there are many. Which one suits you?</h3>
                </header>
                <ul class="check-list">
                    <li>OldSchool</li>
                    <li>VIP</li>
                    <li>Drift</li>
                    <li>OEM+</li>
                    <li>Vanning</li>
                    <li>JDM</li>
                    <li>list goes on..</li>
                </ul>
            </section>

        </div>
        <div class="col-4 col-6-medium col-12-small">

            <!-- Box #3 -->
                <section>
                    <header>
                        <h2>What People Are Saying</h2>
                        <h3>Because your voice is important to us.</h3>
                    </header>
                    <ul class="quote-list">
                        {% for message in contacts %}
                        <li>
                            <img src="/static/main/images/pic06.jpg" alt="" />
                            <p>"{{message.message}}"</p>
                            <span>"{{message.name}}"</span>
                        </li>
                        {% endfor %}
                    </ul>
                </section>

        </div>
    </div>
</div>
</section>

<!-- Footer -->
<section id="footer">
<div class="container">
    <div class="row">
        <div class="col-8 col-12-medium">

            <!-- Links -->
                <section>
                    <h2>Other awesome Auto sites!</h2>
                    <div>
                        <div class="row">
                            <div class="col-3 col-12-small">
                                <ul class="link-list last-child">
                                    <li><a href="https://carsandcoffee.com/">Cars And Coffee</a></li>
                                    <li><a href="https://www.hoonigan.com/">Hoonigan</a></li>
                                    <li><a href="http://www.speedhunters.com/">Speed Hunters</a></li>
                                    <li><a href="http://www.cardomain.com/">Car Domain</a></li>
                                </ul>
                            </div>
                            <div class="col-3 col-12-small">
                                <ul class="link-list last-child">
                                    <li><a href="https://www.croooober.com/en/">Croooober</a></li>
                                    <li><a href="www.Ebay.com">Ebay</a></li>
                                    <li><a href="www.ejukuracing.com">Enjuku Racing</a></li>
                                    <li><a href="www.yahooauctionsjapan.com">Yahoo Auctions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

        </div>
        <div class="col-4 col-12-medium imp-medium">

            <!-- Blurb -->
                <section>
                    <img src="/static/images/logo.png" width="100" height="100" class="d-inline-block align-top" alt=""loading="lazy">
                    <h2>Out with the new and in with the old.</h2>
                    <p>
                        Let's do our part by keeping these machines alive and on the road. Why buy a brand new car, when you can own a used car? No need for new raw material and its cheaper. Also, are you getting rid of a car that matches the chassis that we have above? Head to the MEssage board and post a For sale ad. Thanks for stopping by!
                    </p>
                </section>

        </div>
    </div>
</div>
</section>

<!-- Copyright -->
<div id="copyright">
&copy; Jankurama 2020. 
</div>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>

</body>
</html>